.custom-scrollbar {
    position: relative;
    height:45vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-bordered {
    text-align: left;
}
th{
    background-color: #005c99;
    color: white;
}
.box{
    background-color: lightgrey;
    width: 300px;
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}