.custom-scrollbar {
    position: relative;
    height:45vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-bordered {
    text-align: left;
}
th{
    background-color: #005c99;
    color: white;
}
.box{
    width: 300px;
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
}
.box2{
    background-color: lightgrey;
    width: 300px;
    padding: 30px;
    margin-left: 330px;
    margin-top: -140px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
}
.box3{
    background-color: lightgrey;
    width: 300px;
    padding: 41px;
    margin-left: 650px;
    margin-top: -123px;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
  .box1, .box2, .box3{float: none}
}