{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Change password
{% endblock %}


{% block article %}
    <link rel="stylesheet" href="{% static 'accounts/change_password.css' %}">

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3 container">
            <h2>Change Password</h2>
            <br>
            <br>
            {{ form.as_p }}
            <input type="submit" value="Change password" class="btn btn-success input-submit">
        </div>
    </form>
{% endblock %}