{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Schimbare parola
{% endblock %}


{% block article %}
    <link rel="stylesheet" href="{% static 'accounts/change_password.css' %}">

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3 container">
            <h2>Schimbare parola</h2>
            <br>
            <br>
            <p>
                <label>Parola veche</label>
                {{ form.old_password }}
            </p>

            <p>
                <label>Parola noua</label>
                {{ form.new_password1}}
            </p>
            <ul>
                <li>Parola dvs. nu poate fi prea asemănătoare cu celelalte informații personale.</li>
                <li>Parola dvs. trebuie să conțină cel puțin 8 caractere.</li>
                <li>Parola dvs. nu poate fi o parolă folosită în mod obișnuit.</li>
                <li>Parola dvs. nu poate fi complet numerică.</li>
            </ul>
            <p>
                <label>Reintroduceti parola noua</label>
                {{ form.new_password2}}
            </p>

            <input type="submit" value="Schimbare parola" class="btn btn-success input-submit">
        </div>
    </form>
{% endblock %}