{% extends 'accounts/main_layout_accounts.html' %}

{% block title %}
    Password reset complete
{% endblock %}

{% block name %}
    Password reset complete
{% endblock %}

{% block content %}
        <div class="form-group mb-3">
            <p><b>Your password has been set. You may go ahead and log in now.</b></p>
        </div>

        <form action="{% url 'login' %}" method="GET">
                <button class="btn btn-info btn-md btn-block" type="submit">Log In</button>
        </form>


{% endblock %}