.create_project {
    background-color: #f2f2f2;
}

.create_project input {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.input-submit {
    width: 550px;
}
textarea{
    width: 100%;
}