<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap_v341.min.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <section>
        <nav>
            {% block nav %}
            {% endblock %}
        </nav>
        <article>
            {% block page_name %}
            {% endblock %}
            {% block article %}
            {% endblock %}
        </article>
    </section>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>