{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    {{ disciplina.nume }}
{% endblock %}
{% block note_student %}
    <li><a href="{% url 'note' disciplina.id %}">Note</a>
{% endblock %}
{% block article %}
        <h1 style="font-size: 70px; padding: 30px"><b>{{ disciplina.nume }}</b></h1><br>
        <div class="table-wrapper-scroll-y custom-scrollbar" style="margin-top:-20px;">
        {% for proiect in proiecte %}
            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <h3><b>{{ proiect.nume }}</b></h3>
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85">Tema de proiect</th>
                    <th  style="border-color: #1b6d85">Descriere</th>
                    <th  style="border-color: #1b6d85">Etapa intermediara</th>
                    <th  style="border-color: #1b6d85">Etapa finala</th>
                </tr>
                </thead>

                <tbody>

                {% for tema in teme_student %}
                    {% if tema.proiect == proiect %}
                    <tr class="tr">
                        <td  style="border-color: #1b6d85"><a href="{% url 'temaStudent' tema.id %}"> {{ tema.nume }}</a></td>
                        <td  style="border-color: #1b6d85">{{ tema.descriere }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.data_intermediara }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.data_finalizare }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>

            </table>
        {% endfor %}
        </div>

{% endblock %}
