{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Note
{% endblock %}
{% block article %}
        <h1 style="font-size: 70px; padding: 30px"><b>{{ disciplina.nume }}</b></h1><br>
        <div class="table-wrapper-scroll-y custom-scrollbar" style="margin-top:-20px;">
        {% for proiect in proiecte %}
            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <h3><b>{{ proiect.nume }}</b></h3>
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85">Nume tema</th>
                    <th  style="border-color: #1b6d85">Nota</th>
                    <th  style="border-color: #1b6d85">Feedback</th>
                </tr>
                </thead>

                <tbody>

                {% for tema in teme %}
                    {% if tema.proiect == proiect %}
                        <tr class="tr">
                            <td  style="border-color: #1b6d85">{{ tema.nume }}</td>
                            {% for incarcare in incarcari %}
                                {% if incarcare.tema == tema %}
                                    <td  style="border-color: #1b6d85">{{ incarcare.nota }}</td>
                                    <td  style="border-color: #1b6d85">{{ incarcare.feedback }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>

            </table>
        {% endfor %}
        </div>

{% endblock %}
