{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Note
{% endblock %}
{% block article %}
        <h1 style="font-size: 70px; padding: 30px"><b>{{ disciplina.nume }}</b></h1><br>
        <div class="table-wrapper-scroll-y custom-scrollbar" style="margin-top:-20px;">

            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <h3><b>{{ proiect.nume }}</b></h3>
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85" rowspan="2">Nume tema</th>
                    <th  style="border-color: #1b6d85" colspan="2">Etapa intermediara</th>
                    <th  style="border-color: #1b6d85" colspan="2">Etapa finala</th>
                </tr>
                <tr>
                    <th style="border-color: #1b6d85">Nota</th>
                    <th style="border-color: #1b6d85">Feedback</th>
                    <th style="border-color: #1b6d85">Nota</th>
                    <th style="border-color: #1b6d85">Feedback</th>
                </tr>
                </thead>

                <tbody>

                    <tr class="tr">
                        <td  style="border-color: #1b6d85">{{ teme.nume }}</td>
                        <td style="border-color: #1b6d85">{{ incarcare_intermediara.nota }}</td>
                        <td style="border-color: #1b6d85">{{ incarcare_intermediara.feedback }}</td>
                        <td style="border-color: #1b6d85">{{ incarcare_finala.nota }}</td>
                        <td style="border-color: #1b6d85">{{ incarcare_finala.feedback }}</td>
                    </tr>
                </tbody>

            </table>
        </div>

{% endblock %}
