{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    {{ tema.nume }}
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/tema.css' %}">
        <h3><b>{{ tema.nume }} pentru proiectul {{ tema.proiect.nume }}</b></h3><br>

        <div class="row d-flex justify-content-center" style="width: auto; position: center">

                <div class="create_task" style="padding: 20px;font-size: 15px">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3><b>Adaugare task nou</b></h3><br>
                    <label for="nume">Nume</label>
                    <input type="text" name="nume" required><br>
                    <label for="descriere">Descriere</label><br>
                    <textarea name="descriere" rows="5" cols="40" required></textarea><br>

                    <input type="submit" class="btn btn-info" value="Submit">
                </form>
                </div>

                <div style="margin-top: -400px; margin-left: 600px; padding: 50px">
                    {% if data %}
                    <form action="{% url 'incarcareTema' tema.id %}">
                        <input type="submit" id="incarcare-tema" class="btn btn-info" value="Incarcare tema" style="width: 700px;
                                background-color: black; border-color: black; margin-bottom: 10px">
                    </form>
                    {% else %}
                        <input type="submit" id="incarcare-tema" class="btn btn-info" disabled value="Incarcare tema" style="width: 700px;
                                background-color: black; border-color: black; margin-bottom: 10px">
                    {% endif %}
                    <progress id="progress" value={{ progresul }}  max="100" style="color: white">{{ progresul }}%</progress>
                    <table class="table table-bordered" id="myTable" style="border-color: #1b6d85; width: 700px">
                        <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px; width: 60px">
                        <tr  style="border-color: #1b6d85">
                            <th  style="border-color: #1b6d85; width: 25%">Nume</th>
                            <th  style="border-color: #1b6d85; width: 50%">Descriere</th>
                            <th  style="border-color: #1b6d85; width: 25%">Efectuat</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td  style="border-color: #1b6d85">{{ task.nume }}</td>
                            <td  style="border-color: #1b6d85">{{ task.descriere }}</td>
                            <td  style="border-color: #1b6d85">
                                {% if task.efectuat == False %}
                                    <form action="{% url 'efectuareTask' tema.id task.id %}" method="GET">
                                        <button class="btn btn-info">Efectuat</button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-info" disabled>Efectuat</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



{% endblock %}
