{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Asignare discipline
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="">


     <div style="padding-top: 60px">
        <div class="row d-flex justify-content-center" style="width: auto; position: center">

            <div class="create_project" style="padding: 20px;font-size: 15px">
                 <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            </form>
        </div>
    </div>
    </div>
{% endblock %}
