{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Adaugare proiect
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/projects.css' %}">
    <h1 style="color: #383838; font-size: 100px; padding: 50px"><b>{{ disciplina.nume }}</b></h1>
    <div style="padding-top: 60px; margin-left: 35%; margin-top: -150px">
        <div class="row d-flex justify-content-center" style="width: auto; position: center">
            <div class="col-sm-6">
            <div class="create_project" style="padding: 20px;font-size: 15px">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3><b>Adaugare proiect nou</b></h3><br>
                    <label for="name">Nume proiect</label>
                    <input type="text" name="name"><br>
                    <label for="intermediar_date">Data intermediara</label>
                    <input type="date" name="intermediar_date"><br>
                    <label for="final_date">Data de finalizare</label>
                    <input type="date" name="final_date"><br>
                    <label for="nr_persoane">Numar persoane in echipa</label>
                    <input type="number" name="nr_persoane"><br>
                    <label for="document">Adaugarea documentului cu temele proiectului:</label>
                    <input type="file" name="document">
                    <input type="submit" class="btn btn-info" value="Submit">
                </form>
            </div>
        </div>
    </div>
    </div>
    {% if messages %}
       <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
       </script>
    {% endif %}
{% endblock %}
