{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Catalog
{% endblock %}
{% block article %}
    {% if action == 'Vizualizare grupe' %}
        {% for grupa in grupe %}
            <form action="{% url 'vizualizareCatalog' disciplina.id grupa.id %}" method="get">

                <button>{{ grupa.nume }}</button>
            </form>
        {% endfor %}
    {% endif %}
     {% if action == 'Vizualizare catalog grupa' %}
        <h2><b>{{ grupa.nume }}</b></h2>

         <form action="{% url 'descarcareCatalog' disciplina.id grupa.id %}" method="get">
             <button>Descarcare catalog</button>
         </form>
         <br>

         <div class="table-wrapper-scroll-y custom-scrollbar">
            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Nume </th>
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Prenume</th>
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Ciclu de studii</th>
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Specializare</th>
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">An</th>
                    <th  style="border-color: #1b6d85; text-align: center">Punctaj</th>
                </tr>

                </thead>

                <tbody>

                    {% for student in studenti %}
                        <tr class="tr">
                            <td  style="border-color: #1b6d85"> {{ student.utilizator.last_name }}</td>
                            <td  style="border-color: #1b6d85">{{ student.utilizator.first_name }}</td>
                            <td  style="border-color: #1b6d85">{{ student.ciclu_de_studii }}</td>
                            <td  style="border-color: #1b6d85">{{ student.specializare }}</td>
                            <td  style="border-color: #1b6d85">{{ student.an_studiu }}</td>
                            {% for tema in student.teme.all %}
                                {% if tema.proiect in proiecte %}
                                    <td  style="border-color: #1b6d85"> {{ tema.nume }}<br>

                                                        {% for incarcare in incarcari%}
                                                            {% if incarcare.student == student and incarcare.tema == tema and incarcare.tip == 'Intermediara' %}
                                                                <b>Nota etapa intermediara:</b>
                                                                {{ incarcare.nota }}<br>
                                                            {% endif %}
                                                            {% if incarcare.student == student and incarcare.tema == tema and incarcare.tip == 'Finala' %}
                                                                <b>Nota etapa finala:</b>
                                                                {{ incarcare.nota }}
                                                            {% endif %}
                                                        {% endfor %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    {% endif %}
{% endblock %}
