{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Distribuire teme
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/stergere_disciplina.css' %}">
    <h1 style="color: #383838; font-size: 100px; padding: 30px"><b>{{ disciplina.nume }}</b></h1>
    <form method="POST" style="padding-top:100px; margin-top: -150px">
        {% csrf_token %}
        <div class="card text-center d-flex justify-content-center" style="background-color: #1b6d85; width: 500px; border-radius: 20px; margin-left: 35%; padding: 10px 10px 20px 10px">
          <div class="card-header" style="color: white; padding: 5px">
              <h2>Distribuirea random a temelor pentru tema de proiect: <b>{{ proiect.nume }}</b></h2>
          </div>
          <div class="card-body">
            <input type="submit" class="btn" value="Distribuire random a temelor" style="background-color: lightblue; width: 100%;">
          <br>
          </div>
        </div>
    </form>
{% endblock %}
