{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    {{ proiect.nume }}
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/proiect.css' %}">
    {% if proiect.nr_persoane > 1 %}
      <b style="color: black; font-size: 30px">{{ proiect.nume }} -  Proiect pe echipe de {{ proiect.nr_persoane }} persoane</b>
    {% else %}
      <b  style="color: black; font-size: 30px">{{ proiect.nume }} -  Proiect individual </b>
    {% endif %}
    <br>
    {% if proiect.document is None %}
        <button type="button" class="collapsible"><h4>Adaugare tema proiect</h4></button>
            <div class="content" style="margin-top:-2px; display: none; background-color: white; width: 310px; padding: 10px;">
                <form action="{% url 'adaugareTema' proiect.id %}" method="POST">
                    {% csrf_token %}
                    <label for="nume">Nume tema:</label><br>
                    <input type="text" name="nume" style="width: 290px"><br>
                    <label for="descriere">Descriere:</label><br>
                    <textarea name="descriere" rows="5" cols="37"></textarea><br>
                    <button type="submit" class="btn btn-sm" style="background-color: dodgerblue; color: white; width: 290px">Salvare</button>
                </form>
            </div>
    {% endif %}
    <br>
    <br>
    <div  style="margin-top: 40px">
        <div class="table-wrapper-scroll-y custom-scrollbar">
            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Teme de proiect</th>
                    <th  style="border-color: #1b6d85; text-align: center; vertical-align : middle;">Studenti care au avut distribuita tema</th>
                </tr>
                </thead>

                <tbody>
                     {% for tema in teme %}
                        <tr>
                            <td style="border-color: #1b6d85">
                                <a href="{% url 'vizualizareTema' tema.id %}"><b>{{ tema.nume }}</b></a>
                            </td>
                            <td style="border-color: #1b6d85">
                                {% for student in studenti %}
                                    {% if tema in student.teme.all %}
                                        {{ student.utilizator.first_name }} {{ student.utilizator.last_name }} - <b>{{ student.grupa.nume }}</b><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>


{% endblock %}
