{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    {{ proiect.nume }}
{% endblock %}
{% block article %}
    {% if proiect.nr_persoane > 1 %}
      <b style="color: black; font-size: 30px">{{ proiect.nume }} -  Proiect pe echipe de {{ proiect.nr_persoane }} persoane</b>
    {% else %}
      <b  style="color: black; font-size: 30px">{{ proiect.nume }} -  Proiect individual </b>
    {% endif %}
    <br>
    <br>
    <b style="font-size: 27px;">Temele proiectului sunt:</b>
    <div  style="margin-top: 40px">
                {% for tema in teme %}
                           <a href="{% url 'vizualizareTema' tema.id %}" style="color: black; font-size: 25px"> <b>||  {{ tema.nume }}  </b> </a>
                {% endfor %}

    </div>

{% endblock %}
