{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Proiecte
{% endblock %}
{% block article %}
        <h3><b>Vizualizare proiecte</b></h3><br>
        <div class="table-wrapper-scroll-y custom-scrollbar" style="margin-top: 50px">
            <table class="table table-bordered" id="myTable" style="border-color: #1b6d85">
                <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px">
                <tr  style="border-color: #1b6d85">
                    <th  style="border-color: #1b6d85">Nume proiect</th>
                    <th  style="border-color: #1b6d85">Data inregistare</th>
                    <th  style="border-color: #1b6d85">Data finalizare</th>
                    <th  style="border-color: #1b6d85">Nr persoane in grupa</th>
                    <th  style="border-color: #1b6d85">Cale</th>
                    <th  style="border-color: #1b6d85">Document</th>
                </tr>
                </thead>

                <tbody>

                {% for proiect in proiecte %}
                    {% if proiect.disciplina.id is disciplina.id %}

                    <tr class="tr">
                        <td  style="border-color: #1b6d85"><a href="{% url 'proiect' proiect.id %}"> {{ proiect.nume }}</a></td>
                        <td  style="border-color: #1b6d85">{{ proiect.data_inregistrare }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.data_finalizare }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.nr_persoane }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.cale }}</td>
                        <td  style="border-color: #1b6d85">{{ proiect.document }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}
                </tbody>

            </table>
        </div>
{% endblock %}
