{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    {{ tema.nume }}
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/vizualizareTema.css' %}">
        <h3><b>Informatii {{ tema.nume }}:</b></h3>
        {% for student in studenti %}
            <h3><b>{{ student.utilizator.last_name }} {{ student.utilizator.first_name }}, grupa {{ student.grupa.nume }}</b></h3>
            {% for incarcare in incarcari %}
                {% if incarcare.student.id is student.id %}
                    <b>Document:</b> {{ incarcare.document }}<br>
                    <b>Data incarcare:</b> {{ incarcare.data_incarcare }}<br>
                {% endif %}
            {% endfor %}

            <button type="button" class="collapsible"><h4>Adaugare nota si feedback</h4></button>
            <div class="content" style="margin-top:-2px; display: none; background-color: white; width: 400px; padding: 10px;">
                <form action="{% url 'adaugareNota' tema.id %}" method="POST">
                    {% csrf_token %}
                    <label for="nota">Nota:</label><br>
                    <input type="number" name="nota" style="width: 70px; height: 35px"><br>
                    <label for="feedback">Feedback:</label><br>
                    <textarea name="feedback" rows="5" cols="45"></textarea><br>
                    <button type="submit" class="btn" style="background-color: #097969; color: white">Salvare</button>
                </form>
            </div>
            <div class="table-wrapper-scroll-y custom-scrollbar" style="margin-top: 5px">
                <table class="table table-bordered" id="myTable" style="border-color: #1b6d85; width: 800px">
                    <thead style="background-color: whitesmoke; border-color: #1b6d85; font-size: 15px; text-align: center">
                    <tr  style="border-color: #1b6d85">
                        <th  style="border-color: #1b6d85; text-align: center" colspan="2">Task-uri</th>
                    </tr>
                    <tr  style="border-color: #1b6d85">
                        <th  style="border-color: #1b6d85; text-align: center;">Nume task</th>
                        <th  style="border-color: #1b6d85; text-align: center;">Descriere</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for task in tasks %}
                        {% if task.student.id is student.id %}
                        <tr class="tr">
                            <td  style="border-color: #1b6d85"> {{ task.nume }}</td>
                            <td  style="border-color: #1b6d85">{{ task.descriere }}</td>

                        </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>

                </table>
            </div>
        {% endfor %}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}
