{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Cont
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/account.css' %}">
    <div class="username">
       <p> Bine ati venit, {{ user_type }} {{ user.username }}!</p>
    </div>
    <div class="user_information">
        <b>Nume utilizator:</b> {{ request.user.username }}<br>
        <b>Email:</b> {{ request.user.email }}<br>
        <b>Prenume:</b> {{ request.user.first_name }}<br>
        <b>Nume:</b> {{ request.user.last_name }}<br>
        <b>Tipul contului:</b> {{ user_type }}<br>

    </div>
    <div class="change_password">
        Vreti sa va schimbati parola?<br>
            <a href="{% url 'change_password' %}">Apasati aici</a>
    </div>
{% endblock %}