{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{# o voi sterge de aici si o pun in pagina fiecarui proiect#}
{% block pages %}
    <li><a href="{% url 'projects' %}">Adaugare proiect</a>
{% endblock %}

{# partea asta va fi in functie de disciplina #}
{# in dashboard vad toate disciplinele #}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/dashboard.css' %}">
     {% if 'profesori' in user_groups %}
    <div class="table-wrapper-scroll-y custom-scrollbar">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nume</th>
                    <th>Data inregistare</th>
                    <th>Data finalizare</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.nume }}</td>
                        <td>{{ project.data_inregistare }}</td>
                        <td>{{ project.data_finalizare }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}



