{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{# o voi sterge de aici si o pun in pagina fiecarui proiect#}
{% block pages %}
    {% if user_type == 'admin' %}
        <li><a href="{% url 'vizualizareDiscipline' %}">Discipline</a>
    {% endif %}
    {% if user_type == 'student' %}
        <li><a href="">Note</a>
        <li><a href="">Proiecte active</a>
    {% endif %}
{% endblock %}

{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/dashboard.css' %}">
    {% if 'profesori' in user_groups %}
        <h1><b>Vizualizarea disciplinelor</b></h1>
        <br>
        <div class="row">
            {% for disciplina in discipline %}
                {% if disciplina.profesor == request.user %}
                    <div class="col-sm-6"
                         style="background-color: #383838; width: 330px; height: 200px; border-radius: 20px; margin-right: 6vh; margin-left: -1.5vh; padding-top: 5px; margin-bottom: 5px">
                        <div class="card">
                            <div class="card-body" style="margin-top: 5px">
                                <h1 class="card-title" style="text-align: center; padding-top: 50px"><a href="{% url 'vizualizareDisciplina' disciplina.id %}"
                                                                                                    style="color: white;">{{ disciplina.nume }}</a></h1>
                                    <h5 class="card-title" style="text-align: center; color: white">Anul {{ disciplina.an_universitar }}, semestrul {{ disciplina.semestru }}</h5>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if 'admin' in user_groups %}
        <br>
        <div class="row">
            <div class="col-sm-6"
                 style="background-color: #383838; width: 430px; height: 200px; border-radius: 20px; margin-left: 30vh; margin-right: 20vh; padding-top: 5px; margin-bottom: 5px">
                <div class="card">
                    <div class="card-body" style="margin-top: 5px">
                        <h2 class="card-title" style="text-align: center; padding-top: 50px"><a href="{% url 'adaugareDisciplina' %}"
                                                                              style="color: white;">Adaugare disciplina
                            noua</a></h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 200px;  margin-left: -1.5vh; padding-top: 5px; margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding-top: 50px"><a
                                href="{% url 'stergereDisciplina' %}" style="color: white;">Stergere disciplina
                            existenta</a></h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 200px; margin-left: 30vh; margin-right: 20vh;  padding-top: 5px; margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center;  padding-top: 50px"><a
                                href="{% url 'adaugareCont' %}" style="color: white;">Adaugare cont</a></h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px;  height: 200px; margin-right: 10vh; margin-left: -1.5vh; padding-top: 5px; margin-bottom: 5px">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding-top: 50px"><a
                                href="{% url 'stergereCont'  %}" style="color: white;">Stergere cont</a></h2>
                        <br>
                    </div>
                </div>
            </div>
{#            <div class="col-sm-6"#}
{#                 style="background-color: #383838; border-radius: 20px; width: 430px; margin-left: -1.5vh; margin-right: 8vh; padding-top: 5px; margin-bottom: 5px">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title collapsible" style="text-align: center">Cautare discipline</h4>#}
{#                        <div class="content">#}
{#                            <input type="text" id="myInput" onkeyup="myFunction()"#}
{#                                   placeholder="Introduceti o disciplina" style="width: 360px; border-radius: 5px">#}
{#                        </div>#}
{#                        <br>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    {% endif %}
    {% if 'secretariat' in user_groups %}
        <div class="row">
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height:200px; padding-top: 5px; margin: 5vh 0 5px 33vh">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding: 50px "><a
                                href="{% url 'adaugareStudenti' %}" style="color: white;">Adaugare studenti</a></h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 200px; padding-top: 5px; margin: 5vh 0 5px 20vh;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding: 50px"><a
                                href="{% url 'vizualizareStudenti' %}" style="color: white;">Vizualizare studenti</a></h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 200px; padding-top: 5px; margin: 5vh 0 5px 33vh;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding: 35px"><a
                                href="{% url 'vizualizareGrupe' %}" style="color: white;">Asignarea disciplinelor pe grupe</a></h2>
                        <br>
                    </div>
                </div>
            </div>

        <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 200px; padding-top: 5px; margin: 5vh 0 5px 20vh;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding: 50px"><a
                                href="{% url 'adaugareGrupa' %}" style="color: white;">Adaugare grupa</a></h2>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if 'studenti' in user_groups %}
        <div class="row">
        {% for disciplina in discipline_student %}
            <div class="col-sm-6"
                 style="background-color: #383838; border-radius: 20px; width: 430px; height: 100px; padding-top: 5px; margin: 5vh -5vh 5px 30vh;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; padding: 10px"><a
                                href="" style="color: white;">{{ disciplina.nume }}</a></h2>
                        <br>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <script type="text/javascript" src="{% static 'application/js/dashboard.js' %}"></script>
{% endblock %}



