{% extends 'main_layout.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'application/css/main_layout_application.css' %}">


        <ul class="topnav">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% block pages %}
                {% endblock %}
            <li><a href="{% url 'account' %}">Cont</a>
            <li style="padding: 7px; color: white; font-size: 20px; margin-left: 600px">Sunteti conectat ca {{ user_type }} {{ request.user.username }}</li>
            <li class="right"><a class="logout" href="{% url 'logout' %}">Deconectare</a></li>
        </ul>

{% endblock %}

{% block article %}
{% endblock %}
