{% extends 'application/main_layout_application.html' %}
{% load static %}

{% block title %}
    Projects
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/projects.css' %}">
    {% if 'teachers' in user_groups %}

        <div class="table-wrapper-scroll-y custom-scrollbar">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.registration_date }}</td>
                        <td>{{ project.final_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <div class="create_project ">
            <form action="" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <h4>Add a new project:</h4><br>
                <label for="name">Name</label>
                <input type="text" name="name"><br>
                <label for="final_date">End date</label>
                <input type="date" name="final_date"><br>
                <label for="document">Add the document with the project topics</label>
                <input type="file" name="document">
                <input type="submit" class="btn btn-info" value="Submit">
            </form>
        </div>
    {% endif %}
{% endblock %}
