{% extends 'application/dashboard.html' %}
{% load static %}

{% block title %}
    Adaugare cont
{% endblock %}
{% block article %}
    <link rel="stylesheet" href="{% static 'application/css/adaugare_cont.css' %}">
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card text-center d-flex justify-content-center"
                 style="background-color: #677294; width: 500px; border-radius: 20px; margin-left: 35%; margin-top: 5%; padding: 10px 10px 20px 10px">
                <div class="card-header" style="padding: 5px">
                    <div class="card-body">
                        <h2 style="color: white"><b>Adaugarea unui nou cont</b></h2><br>
                        <label for="email" style="color: white">Email</label>
                        <input type="text" name="email"><br>
                        <label for="nume" style="color: white">Nume:</label>
                        <input type="text" name="nume"><br>
                        <label for="prenume" style="color: white">Prenume</label>
                        <input type="text" name="prenume"><br>
                        <label for="tip" style="color: white">Tipul utilizatorului:</label>

                        <h4 style="margin-top: -5px; color: white">
                            <input id="tip" type="checkbox" value="profesor" name="tip">profesor
                            <input id="tip" type="checkbox" value="student" name="tip">student
                            <input id="tip" type="checkbox" value="secretar" name="tip">secretar
                        </h4>
                        <br>
                        <input type="submit" class="btn btn-info" value="Submit" style="margin-top: 5px; background-color: #E6E7EC; color: #1b1e21; border-color: #E6E7EC">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
